Repository Lachstec/cumulus, pull requests merged in 2024-11, with the labels that each got.

#29 UI/frontend ci
  .github/workflows/ci_frontend.yml
  .github/workflows/docker_frontend.yml
  src/frontend/hosting/package-lock.json
  src/frontend/hosting/package.json
Labels: CI/CD, Frontend

#28 CI-Pipeline und Container baun für Backend Service
  .github/workflows/ci_backend.yml
  .github/workflows/docker_backend.yml
  src/provisioning/Dockerfile
  src/provisioning/main.go
Labels: Provisioning, CI/CD

#30 minor updates
  .github/workflows/ci_frontend.yml
  src/frontend/hosting/.prettierrc
  src/frontend/hosting/package-lock.json
  src/frontend/hosting/package.json
Labels: CI/CD, Frontend

#31 Navbar-Footer, Grobes Layout
  src/frontend/hosting/postcss.config.js
  src/frontend/hosting/src/app.d.ts
  src/frontend/hosting/src/app.html
  src/frontend/hosting/src/lib/components/+Footer.svelte
  src/frontend/hosting/src/lib/components/+Navbar.svelte
  src/frontend/hosting/src/routes/+layout.svelte
  src/frontend/hosting/src/routes/+page.svelte
  src/frontend/hosting/static/images/example-profile.jpg
  src/frontend/hosting/static/images/logo.png
  src/frontend/hosting/svelte.config.js
  src/frontend/hosting/tailwind.config.ts
  src/frontend/hosting/vite.config.ts
Labels: Frontend

#32 Datenbankschema und automatisches Anlegen
  .github/workflows/ci_backend.yml
  .gitignore
  src/provisioning/cmd/provisioner/main.go
  src/provisioning/go.mod
  src/provisioning/go.sum
  src/provisioning/internal/config/config.go
  src/provisioning/internal/config/config_test.go
  src/provisioning/internal/config/db.go
  src/provisioning/internal/db/migrator.go
  src/provisioning/main.go
  src/provisioning/migrations/1_initial_schema.down.sql
  src/provisioning/migrations/1_initial_schema.up.sql
Labels: Provisioning, CI/CD
