Repository Lachstec/cumulus, pull requests merged in 2024-12, with the labels that each got.

#35 Zugriff auf Datenbank mit Repository-Pattern
  .github/workflows/ci_backend.yml
  src/provisioning/cmd/provisioner/main.go
  src/provisioning/go.mod
  src/provisioning/go.sum
  src/provisioning/internal/db/backup_store.go
  src/provisioning/internal/db/db_test.go
  src/provisioning/internal/db/migrator.go
  src/provisioning/internal/db/server_store.go
  src/provisioning/internal/db/store.go
  src/provisioning/internal/types/backup.go
  src/provisioning/internal/types/server.go
  src/provisioning/migrations/1_initial_schema.up.sql
Labels: Provisioning, CI/CD

#40 Auth/auth0 integration
  .gitignore
  src/frontend/hosting/package-lock.json
  src/frontend/hosting/package.json
  src/frontend/hosting/src/lib/components/+Navbar.svelte
  src/frontend/hosting/src/lib/components/+Useritem.svelte
  src/frontend/hosting/src/lib/config/auth_config_example.js
  src/frontend/hosting/src/lib/service/auth_service.ts
  src/frontend/hosting/src/lib/store/auth_store.ts
  src/frontend/hosting/src/routes/+page.svelte
  src/frontend/hosting/src/routes/[...not_impl]/+page.svelte
  src/frontend/hosting/src/routes/user/[userid]/+page.svelte
Labels: Auth

#38 Fix failing Docker Build CI
  src/provisioning/Dockerfile
Labels: Bug

#45 Implementierung von Nutzerdatenabgleich mit Auth0
  src/provisioning/internal/config/auth0.go
  src/provisioning/internal/config/config.go
  src/provisioning/internal/config/config_test.go
  src/provisioning/internal/service/auth.go
  src/provisioning/internal/types/userinfo.go
Labels: AAA, Provisioning

#42 Fix von den Rückgabewerten von den Stores
  src/provisioning/go.mod
  src/provisioning/go.sum
  src/provisioning/internal/db/backup_store.go
  src/provisioning/internal/db/server_store.go
Labels: Bug

#52 User GET/PATCH/DELETE
  src/frontend/hosting/src/lib/components/+Navbar.svelte
  src/frontend/hosting/src/lib/components/+Useritem.svelte
  src/frontend/hosting/src/lib/service/auth_service.ts
  src/frontend/hosting/src/routes/user/+page.svelte
  src/frontend/hosting/src/routes/user/[userid]/+page.svelte
  src/frontend/hosting/src/routes/user/[userid]/+page.ts
Labels: Frontend
