Repository Lachstec/cumulus, pull requests merged in 2025-01, with the labels that each got.

#46 JWT Validierung und Middleware
  src/provisioning/go.mod
  src/provisioning/go.sum
  src/provisioning/internal/config/auth0.go
  src/provisioning/internal/config/config.go
  src/provisioning/internal/config/config_test.go
  src/provisioning/internal/service/auth.go
  src/provisioning/internal/types/userinfo.go
Labels: Provisioning, Auth

#44 Implementierung von Server-Management in Openstack
  src/provisioning/go.mod
  src/provisioning/go.sum
  src/provisioning/internal/config/config.go
  src/provisioning/internal/config/config_test.go
  src/provisioning/internal/config/crypto.go
  src/provisioning/internal/config/openstack.go
  src/provisioning/internal/db/backup_store.go
  src/provisioning/internal/db/db_test.go
  src/provisioning/internal/db/server_store.go
  src/provisioning/internal/openstack/openstack_client.go
  src/provisioning/internal/service/crypto.go
  src/provisioning/internal/service/crypto_test.go
  src/provisioning/internal/service/minecraft_provisioner.go
  src/provisioning/internal/service/provisioner_test.go
  src/provisioning/internal/types/backup.go
  src/provisioning/internal/types/flavour.go
  src/provisioning/internal/types/images.go
  src/provisioning/internal/types/server.go
  src/provisioning/migrations/1_initial_schema.up.sql
Labels: Provisioning

#57 Implementierung der HTTP-API
  src/api/data/go.mod
  src/api/data/servers.go
  src/api/data/users.go
  src/api/go.mod
  src/api/go.sum
  src/api/main.go
  src/api/services/go.mod
  src/api/services/servers.go
  src/api/services/users.go
  src/provisioning/cmd/provisioner/main.go
  src/provisioning/go.mod
  src/provisioning/go.sum
  src/provisioning/internal/db/backup_store.go
  src/provisioning/internal/db/db_test.go
  src/provisioning/internal/db/server_store.go
  src/provisioning/internal/db/store.go
  src/provisioning/internal/db/user_store.go
  src/provisioning/internal/openstack/openstack_client.go
  src/provisioning/internal/services/auth_services.go
  src/provisioning/internal/services/crypto.go
  src/provisioning/internal/services/crypto_test.go
  src/provisioning/internal/services/minecraft_provisioner_services.go
  src/provisioning/internal/services/provisioner_test.go
  src/provisioning/internal/services/server_services.go
  src/provisioning/internal/services/user_services.go
  src/provisioning/internal/types/backup.go
  src/provisioning/internal/types/flavour.go
  src/provisioning/internal/types/flavours.go
  src/provisioning/internal/types/images.go
  src/provisioning/internal/types/server.go
  src/provisioning/internal/types/users.go
  src/provisioning/migrations/1_initial_schema.up.sql
Labels: Provisioning

#54 Setup für OpenTelemetry und Jaeger
  src/provisioning/go.mod
  src/provisioning/go.sum
  src/provisioning/internal/config/config.go
  src/provisioning/internal/config/config_test.go
  src/provisioning/internal/config/tracing.go
  src/provisioning/internal/tracing/provider.go
Labels: Provisioning

#55 Implementierung von Server Löschung
  src/provisioning/internal/db/db_test.go
  src/provisioning/internal/db/ip_store.go
  src/provisioning/internal/db/key_store.go
  src/provisioning/internal/db/server_store.go
  src/provisioning/internal/services/minecraft_provisioner_services.go
  src/provisioning/internal/services/provisioner_test.go
  src/provisioning/internal/types/floating_ip.go
  src/provisioning/internal/types/key.go
  src/provisioning/internal/types/server.go
  src/provisioning/migrations/2_keypairs.down.sql
  src/provisioning/migrations/2_keypairs.up.sql
  src/provisioning/migrations/3_floating_ips.down.sql
  src/provisioning/migrations/3_floating_ips.up.sql
Labels: Provisioning

#62 issue fixed
  src/provisioning/cmd/provisioner/main.go
  src/provisioning/internal/services/server_services.go
  src/provisioning/internal/services/user_services.go
  src/provisioning/internal/types/users.go
Labels: Bug

#63 Unittests für User Store
  src/provisioning/internal/db/db_test.go
  src/provisioning/internal/db/user_store.go
  src/provisioning/internal/types/users.go
Labels: Bug

#64 Bugfix bei User Patch
  src/provisioning/cmd/provisioner/main.go
Labels: Bug

#70 Diese Pull Request implementiert den /users/userid/servers endpoint
  src/provisioning/cmd/provisioner/main.go
  src/provisioning/internal/services/server_services.go
  src/provisioning/internal/services/user_services.go
Labels: Provisioning
